.page7 {
  z-index: 2;
  background-color: #b826a2;
  /*����*/
  /*�ײ�*/
  /*��ͷ*/
}
.page7 .page7-title {
  position: relative;
  left: 0;
  top: 0;
  padding-left: 0.625rem;
  margin-left: 1rem;
  margin-top: 1rem;
  color: #fff;
}
.page7 .page7-title .title-pre {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.15625rem;
  height: 100%;
  background-color: #fff;
  -webkit-transform-origin: top;
  -webkit-transform: scaleY(0);
}
.page7 .page7-title .title-con {
  opacity: 0;
}
.page7 .page7-title .title-con .title-txt {
  font-size: 2rem;
  font-weight: 700;
}
.page7 .gift {
  /*����*/
  /*��*/
  /*��������*/
  /**/
}
.page7 .gift .gift-bg {
  width: 18.375rem;
  height: 10.40625rem;
  left: 1rem;
  bottom: 9.5rem;
  position: absolute;
  background: url(../images/page7/bg8.png) no-repeat;
  background-size: 100%;
  -webkit-transform: rotateZ(90deg);
  -webkit-transform-origin: 9rem 32.84375rem;
  opacity: 0;
}
.page7 .gift .bear5 {
  width: 8.90625rem;
  height: 10.25rem;
  left: 6.25rem;
  bottom: 6.25rem;
  position: absolute;
  background: url(../images/page7/bear5.png) no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 4;
  opacity: 0;
}
.page7 .gift .gift-c {
  position: absolute;
  left: 50%;
  bottom: 16rem;
  z-index: 3;
}
.page7 .gift .gift-c .gift {
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-transform: scale(0);
}
.page7 .gift .gift-c .gift1 {
  width: 1.21875rem;
  height: .78125rem;
  right: 1.875rem;
  top: 7rem;
}
.page7 .gift .gift-c .gift2 {
  width: 2.90625rem;
  height: 2.46875rem;
  right: 4.25rem;
  top: 4.375rem;
}
.page7 .gift .gift-c .gift3 {
  width: 2.25rem;
  height: 2rem;
  right: 5.625rem;
  top: 1.25rem;
}
.page7 .gift .gift-c .gift4 {
  width: 2.84375rem;
  height: 2.28125rem;
  right: 5.375rem;
  bottom: -0.125rem;
}
.page7 .gift .gift-c .gift5 {
  width: 3.09375rem;
  height: 2.03125rem;
  right: 3.625rem;
  bottom: 3.375rem;
}
.page7 .gift .gift-c .gift6 {
  width: 3.34375rem;
  height: 2.5rem;
  right: -0.625rem;
  bottom: 5rem;
}
.page7 .gift .gift-c .gift7 {
  width: 3.65625rem;
  height: 2.625rem;
  left: 1.75rem;
  bottom: 4.625rem;
}
.page7 .gift .gift-c .gift8 {
  width: 2.75rem;
  height: 2rem;
  left: 5.5rem;
  bottom: 2.375rem;
}
.page7 .gift .gift-c .gift9 {
  width: 2.4375rem;
  height: 1.5625rem;
  left: 6rem;
  bottom: -1rem;
}
.page7 .gift .gift-c .gift10 {
  width: 1.53125rem;
  height: 1.15625rem;
  left: 6.5rem;
  top: 2.25rem;
}
.page7 .gift .gift-c .gift11 {
  width: 1.59375rem;
  height: .96875rem;
  left: 5.5rem;
  top: 4.625rem;
}
.page7 .gift .gift-c .gift12 {
  width: 1.15625rem;
  height: .71875rem;
  left: 3.5rem;
  top: 6.5625rem;
}
.page7 .sphere {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20rem;
  height: 11.125rem;
  background: url(../images/page7/sphere6.png) no-repeat;
  -webkit-background-size: 100%  100%;
  z-index: 1;
}
.page7 .arrow {
  width: 1.71875rem;
  height: 1.71875rem;
  position: absolute;
  left: 9.140625rem;
  bottom: .5rem;
  opacity: 0;
  background: url(../images/arrow.png) no-repeat;
  background-size: 100% 100%;
  z-index: 3;
}
.page7.active {
  /*ͷ������*/
  /*�ײ�*/
}
.page7.active .page7-title .title-pre {
  -webkit-animation: vbig .5s 0s linear forwards;
}
.page7.active .page7-title .title-con {
  -webkit-animation: titlein .25s 0s linear forwards;
}
.page7.active .gift .gift-bg {
  -webkit-animation: roatein2 2.5s 0s ease-in-out forwards;
}
.page7.active .gift .bear5 {
  -webkit-animation: downin 0.8s 0s ease-in-out forwards;
}
.page7.active .gift .gift-c .gift {
  -webkit-animation: shuffle .5s 0.6s linear infinite alternate;
  -webkit-transform: scale(1);
  transition: all 0.5s;
}
.page7.active .gift .gift-c .gift1 {
  transition-delay: 0.8s;
  -webkit-animation-delay: 1.3s;
}
.page7.active .gift .gift-c .gift2 {
  transition-delay: 0.9s;
  -webkit-animation-delay: 1.4s;
}
.page7.active .gift .gift-c .gift3 {
  transition-delay: 1s;
  -webkit-animation-delay: 1.5s;
}
.page7.active .gift .gift-c .gift4 {
  transition-delay: 1.1s;
  -webkit-animation-delay: 1.6s;
}
.page7.active .gift .gift-c .gift5 {
  transition-delay: 1.2s;
  -webkit-animation-delay: 1.7s;
}
.page7.active .gift .gift-c .gift6 {
  transition-delay: 1.3s;
  -webkit-animation-delay: 1.8s;
}
.page7.active .gift .gift-c .gift7 {
  transition-delay: 1.4s;
  -webkit-animation-delay: 1.9s;
}
.page7.active .gift .gift-c .gift8 {
  transition-delay: 1.5s;
  -webkit-animation-delay: 2s;
}
.page7.active .gift .gift-c .gift9 {
  transition-delay: 1.6s;
  -webkit-animation-delay: 2.1s;
}
.page7.active .gift .gift-c .gift10 {
  transition-delay: 1.7s;
  -webkit-animation-delay: 2.2s;
}
.page7.active .gift .gift-c .gift11 {
  transition-delay: 1.8s;
  -webkit-animation-delay: 2.3s;
}
.page7.active .gift .gift-c .gift12 {
  transition-delay: 1.9s;
  -webkit-animation-delay: 2.4s;
}
.page7.active .arrow {
  -webkit-animation: arrow 1s 1s linear infinite;
}
@-webkit-keyframes roatein2 {
  0% {
    -webkit-transform: rotateZ(90deg);
    opacity: 0;
  }
  24% {
    -webkit-transform: rotateZ(-4deg);
    opacity: 1;
  }
  32% {
    -webkit-transform: rotateZ(2deg);
    opacity: 1;
  }
  40% {
    -webkit-transform: rotateZ(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateZ(0deg);
    opacity: 1;
  }
}
